[submodule "mailsniper"]
	path = windows/MailSniper
	url = https://github.com/dafthack/MailSniper
[submodule "seatbelt"]
	path = windows/Seatbelt
	url = https://github.com/GhostPack/Seatbelt
[submodule "powersharppack"]
	path = windows/PowerSharpPack
	url = https://github.com/S3cur3Th1sSh1t/PowerSharpPack
[submodule "sharpersist"]
	path = windows/SharPersist
	url = https://github.com/mandiant/SharPersist
[submodule "sharpup"]
	path = windows/SharpUp
	url = https://github.com/GhostPack/SharpUp
[submodule "powerlurk"]
	path = windows/PowerLurk
	url = https://github.com/Sw4mpf0x/PowerLurk
[submodule "mimikatz"]
	path = windows/Mimikatz
	url = https://github.com/gentilkiwi/mimikatz
[submodule "powersploit"]
	path = windows/PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit
